# ref: https://asdf-vm.com/manage/configuration.html
# Cloudflare Workers Builds uses asdf internally, so we can use .tool-versions to override
# the versions of Node.js and Bun used in the project.
bun 1.2.16
nodejs 24.2.0
