# name must be autofix.ci for security reasons
# ref: https://autofix.ci/security
name: autofix.ci

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  autofix:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read # for checkout

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: latest

      - run: npx biome check --write
        continue-on-error: true

      - name: autofix.ci
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
        with:
          # Set to false to avoid notifications of cancelled workflows
          fail-fast: false
