# name must be autofix.ci for security reasons
# ref: https://autofix.ci/security
name: autofix.ci

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  autofix:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read # for checkout

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: latest

      - run: npx biome check --write
        continue-on-error: true

      - name: autofix.ci
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
        with:
          # Set to false to avoid notifications of cancelled workflows
          fail-fast: false
